# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Custom
.DS_Store
manager/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local.py
static/

# Environments
# .env
env/
venv/
ENV/
env.bak/
venv.bak/
.virtualenv

# IDEs
.idea
.vscode

# zip files
.zip
*.zip
*/*.zip

# tar files
*.tar.gz
